<html>

<head>
    <title>PacMan Shell Project | Home </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SSH Login Flask Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="/ssh">SSH Login</a>
            <a class="nav-link" href="/flask">Flask Project</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav>



<div id="vantatrunk"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.trunk.min.js"></script>
<script>
      VANTA.TRUNK({
        el: "#vantatrunk",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 885.00,
        minWidth: 1000.00,
        scale: 15.00,
        scaleMobile: 1.00,
        chaos: 3.00
      })
  </script>
</body>

<p style="color:white;text-align:center;font-family:verdana">Andrew Crisostomo | Ahmad Nasim | Cody Peng | Luca Pinto | Mileta Vukovich | Tanmay Marwah</p>





<style>
  .vantatrunk {
		position: abosolute;
    display: block;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

	}
	.center {
  padding: 70px 0;
  border: 3px solid green;
}
</style>
</html>